

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <p class="alert alert-info"> I Love {{title}}</p>
      <ul class="list-group">
        <li
        *ngFor ="let skill of skills"
         class ="list-group-item">
         I Love {{skill}}
        </li>
      </ul>
      <br>
      <ul class="list-group">
        <li
        *ngFor ="let player of criketers"
         class ="list-group-item">
         I Love {{player}}
        </li>
      </ul>
      <br>
      <ul class="list-group">
        <li
        *ngFor ="let sport of sportsName"
         class ="list-group-item">
         I Love {{sport}}
        </li>
      </ul>
      <br>
      <ul class="list-group">
        <li
        *ngFor ="let city of cities"
         class ="list-group-item">
         I Love {{city}}
        </li>
      </ul>
    </div>
  </div>
</div>


